:root {
    --primary: #244c60;
    --danger: #eb3f27;
    --success: #23702a;
    --white: #fdfdfd;
    --dark: #181717;
}

.btn {
    display: inline-block;
    font-family: inherit;
    font-weight: 400;
    cursor: pointer;
    border-radius: 50px;
    border: none; 
}

.btn:hover {
    opacity: .7;
}

.btn--primary--solid {
   background-color: var(--primary);
   color: var(--white);
}

.btn--success--solid {
    background-color: var(--success);
    color: var(--white);
 }

.btn--danger--solid {
    background-color: var(--danger);
    color: var(--white);
}

/* Button Size */

.btn--small {
    padding: .3em .7em;
    font-size: 14px;
}

.btn--medium {
    padding: .6em 1.5em;
    font-size: 16px;
}

.btn--large {
    padding: 1em 2em;
    font-size: 18px;
}

.btn--close--solid {
    background-color: transparent;
    color: rgb(0, 78, 0);
    border-radius: 5px;
    padding: .1em .4em;
    text-transform: uppercase;
    font-size: 14px;
    border: 1px solid rgb(0, 108, 0);
}